<form hx-post="/familias" hx-target="#offcanvas-body-content" hx-swap="innerHTML">

    <div class="mb-3">
        <label for="nomeResponsavelFamiliar" class="form-label">Nome Responsável Familiar <span style="color: #b02a37"> O responsável deve sido cadastrado na área de pessoas.</span></label>
        <input type="text" class="form-control" id="nomeResponsavelFamiliar" name="nomeResponsavelFamiliar" required>
    </div>

    <hr>
        <h6 >Cadastro de Membros Familiares</h6>
    <hr>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>

    <div class="row mb-3 align-items-center">
        <div class="col-md-6">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" required>
        </div>

        <div class="col-md-6 ">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone">
        </div>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="row mb-3 align-items-center">
        <div class="col-md-6">
            <label for="dataNascimento" class="form-label">Data de Nascimento</label>
            <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" required>
        </div>

        <div class="col-md-6 ">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" onblur="BuscarCEP(this.value)">
        </div>
    </div>
    <div class="mb-3">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="endereco" class="form-control" id="endereco" name="endereco" disabled>
    </div>
    <div class="mb-3">
        <label for="numero" class="form-label">Número</label>
        <input type="numero" class="form-control" id="numero" name="numero" >
    </div>
    <div class="mb-3">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="complemento" class="form-control" id="complemento" name="complemento" >
    </div>

    <div class="mb-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="bairro" class="form-control" id="bairro" name="bairro" disabled>
    </div>

    <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="cidade" class="form-control" id="cidade" name="cidade" disabled>
    </div>

    <div class="row mb-3 align-items-center">

        <div class="col-md-6">
            <label for="uf" class="form-label">UF</label>
            <input type="uf" class="form-control" id="uf" name="uf" disabled>
        </div>

        <div class="col-md-6 ">
            <label for="grauParentesco" class="form-label">Grau de Parentesco</label>
            <select class="form-select" aria-label="Default select example" id="grauParentesco" name="grauParentesco" required>
                <option selected>Selecione</option>
                <option value="Filho">Filho</option>
                <option value="Esposa">Esposa</option>
                <option value="Filha">Filha</option>
                <option value="Primo">Primo</option>
                <option value="Sobrinho">Sobrinho</option>
                <option value="Avó">Avó</option>
                <option value="Avô">Avô</option>
            </select>
        </div>
        <div class="my-3"></div>
    </div>

    <div class="d-grid mt-4">
        <button type="submit" class="btn btn-secondary">
            <i class="fa-solid fa-floppy-disk me-2"></i>Salvar Cadastro
        </button>
    </div>
</form>
