<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{shared/layout :: layoutBase('Pessoas - SIAS', ~{::main}, ${hxUrlFab}, ${iconeFab})}">
<body>
<main class="container-fluid pt-4 mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="h4 text-gray-800">Pessoas</h2>
    </div>
    <div class="card shadow-sm border-0 p-3">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ativo</th>
                    <th class="text-end">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pessoa : ${pessoas}">
                    <td th:text="${pessoa.nome}"></td>
                    <td th:text="${pessoa.cpf}"></td>
                    <td th:text="${pessoa.email}"></td>
                    <td th:text="${pessoa.telefone}"></td>
                    <td>
                        <span th:if="${pessoa.usuario.ativo}" class="badge bg-success">Ativo</span>
                        <span th:unless="${pessoa.usuario.ativo}" class="badge bg-danger text-dark">Desabilitado</span>
                    </td>


                    <td class="text-end">
                        <button class="btn btn-sm btn-warning" title="Editar"
                                th:attr="hx-get=@{/pessoas/editar/{id}(id=${pessoa.codPessoa})}"
                                hx-target="#offcanvas-body-content"
                                hx-swap="innerHTML"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasForm">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Excluir"
                                th:onclick="|DeletarPessoa(${1}, ${pessoa.codPessoa}, ${pessoa.usuario.codUsuario})|">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(pessoas)}">
                    <td colspan="5" class="text-center text-muted py-4">Nenhuma pessoa cadastrada ainda.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:src="@{/js/pessoa/index.js}"></script>
</main>
</body>
</html>