<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{shared/layout :: layoutBase('Pessoas - SIAS', ~{::main}, ${hxUrlFab}, ${iconeFab})}">
<body>
<main>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold" > Gestão de Pessoas</h2>
    </div>

<!--    <div class="card shadow-sm border-0">-->
<!--        <div class="card-body">-->
<!--            <p class="text-muted">A lista de pessoas cadastradas aparecerá aqui.</p>-->
<!--        </div>-->
<!--    </div>-->
</main>
</body>
</html>