<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{shared/layout :: layoutBase('Início - SIAS', ~{::main}, null, null)}">
<body>
<main>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold" >Visão Geral</h2>
    </div>

<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <div class="card shadow-sm border-0">-->
<!--                <div class="card-body py-5 text-center">-->
<!--&lt;!&ndash;                    <i class="fa-solid fa-earth-americas mb-3" style="font-size: 3rem; color: var(&#45;&#45;sias-menta);"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4 class="fw-bold text-dark">Bem-vindo ao SIAS</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p class="text-muted">Selecione uma opção no menu lateral para começar.</p>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</main>
</body>
</html>