<!DOCTYPE html>
<html th:replace="~{shared/layout :: layoutBase(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página Inicial - SIAS</title>
</head>
<body>

<section>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1 class="text-primary">Bem-vindo ao SIAS</h1>
            <p class="lead">Sistema Integrado de Ações Sociais</p>
            <hr>
            <p>Se você está vendo esta tela bonita, o seu layout base e o Bootstrap funcionaram perfeitamente!</p>
        </div>
    </div>
</section>

</body>
</html>